doctype html
html(lang="en")
    head
        title Payment Successful
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        .container
            .payment-success
                h1 Congratulations, Your Payment Was Successful!
                p Thank you for completing your payment.
                p Your payment for cohort Digital Marketing has been confirmed.
                p We have sent a confirmation email with your payment details.

                // Add a button to navigate back to the homepage or other relevant pages
                a.button(href="/") Back to Homepage
                a.button(href="/profile") View Your Profile
